/*Font CSS: color, font style, positioning*/
main h1 {
  color: #F4D03F;
  margin: 10px;
  font-family: arial black;
}

main h3 {
  color: white;
  margin: 10px;
  font-family: arial black;
}

body div{
  background-color: #17202A;
  margin: 10px;
  border: 1px dotted #E67E22;
}

p {
  color: white;
  margin-left: 20px;
}

a {
  color:#F4D03F;
}

#smallText {
  font-size: 10;
  color: #F4D03F;
  font-style: italic;
}

/*Background color palette*/
main {
  background-color: #17202A;
}

section {
  background-color: #17202A;
}

/*Navigation bar*/
nav {
  list-style-type: none;
  margin: 2px;
  overflow: hidden;
}

nav li {
  padding: 20px;
  float: left;
}

nav li a{
  display: inlign;
  color: white;
  text-align: center;
  font-family: arial;
  text-decoration: none;
}

nav li a:hover {
  background-color: #F4D03F;
  color: black;
}

.img-container {
  position: fixed;
  z-index: 2;
  height: 2%;
  width: 2%;
}








main div {
  color: white;
  font-family: arial;
  margin: 10px;
}

footer {
  background-color: #E67E22;
  color: white;
  font-family: arial;
  margin: 15px;
  padding: 10px;
  border: 1px dotted #17202A;
}

div class.colplaceholder {
  display: inlign;
}

img {
  float: left;
  align: right;
  padding: 5px;
}

.img {
  overflow: auto;
}

th {
  color: #F4D03F;
}

td {
  color: white;
}

table {
  max-width: 200px;
  margin: 0 auto;
}

#guestrecommendation {
  max-width: 500px;
}
