body div{
  background-color: #17202A;
  margin: 10px;
  border: 1px dotted #E67E22;
}

body div h1{
  color: #F4D03F;
  margin: 10px;
  font-family: arial black;
}

li {
  float: left;
}

nav {
  list-style-type: none;
  margin: 2px;
  overflow: hidden;
}

nav li {
  padding: 20px;
}

nav li a{
  display: inlign;
  color: white;
  text-align: center;
  font-family: arial;
  text-decoration: none;
}

nav li a:hover {
  background-color: #F4D03F;
  color: black;
}

main div {
  color: white;
  font-family: arial;
  margin: 10px;
}

footer {
  background-color: #E67E22;
  color: white;
  font-family: arial;
  margin: 15px;
  padding: 10px;
  border: 1px dotted #17202A;
}

div class.colplaceholder {
  display: inlign;
}

img {
  float: left;
  align: right;
  padding: 5px;
}

.img {
  overflow: auto;
}

.img-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

p {
  width: 50%;
}

th {
  color: #F4D03F;
}

td {
  color: white;
}

table {
  max-width: 200px;
  margin: 0 auto;
}

#guestrecommendation {
  max-width: 500px;
}

a {
  color:#F4D03F;
}
